USE [master]
GO

/*USE master;  
ALTER DATABASE HouseholdManagement SET SINGLE_USER WITH ROLLBACK IMMEDIATE;  
DROP DATABASE HouseholdManagement;*/

CREATE DATABASE [HouseholdManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HouseholdManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATAHouseholdManagement.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HouseholdManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HouseholdManagement_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HouseholdManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HouseholdManagement]
GO
/****** Object:  Table [dbo].[AddMemberRegistrations]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddMemberRegistrations](
	[AddMemberRegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [varchar](10) NULL,
	[IdNumber] [varchar](20) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Relationship] [nvarchar](50) NOT NULL,
	[ReasonForAddition] [nvarchar](500) NOT NULL,
	[PreviousHouseholdID] [int] NULL,
	[HeadOfHouseholdConsent] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddMemberRegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[AreaID] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceName] [nvarchar](50) NOT NULL,
	[DistrictName] [nvarchar](50) NOT NULL,
	[WardName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseholdMembers]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseholdMembers](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[HouseholdID] [int] NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Relationship] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime] NULL,
	[Gender] [nvarchar](10) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[CCCD] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Households]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Households](
	[HouseholdID] [int] IDENTITY(1,1) NOT NULL,
	[HeadOfHouseholdID] [int] NULL,
	[Address] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[AreaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HouseholdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationDocuments]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationDocuments](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationID] [int] NOT NULL,
	[DocumentType] [nvarchar](50) NOT NULL,
	[FilePath] [nvarchar](255) NOT NULL,
	[FileName] [nvarchar](100) NOT NULL,
	[FileSize] [int] NOT NULL,
	[ContentType] [nvarchar](100) NOT NULL,
	[UploadDate] [datetime] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[FileData] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[HouseholdID] [int] NULL,
	[RegistrationTypeID] [int] NULL,
	[SentDate] [date] NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[RegistrationStatusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, A LLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationStatuses]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](20) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationTypes]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationTypes](
	[RegistrationTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationVerifications]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationVerifications](
	[VerificationID] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationID] [int] NOT NULL,
	[VerificationUserID] [int] NULL,
	[VerificationDate] [date] NULL,
	[VerifierComments] [nvarchar](500) NULL,
	[VerificationStatusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VerificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](20) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SplitMembers]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SplitMembers](
	[SplitRegistrationID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
 CONSTRAINT [PK_SplitMembers] PRIMARY KEY CLUSTERED 
(
	[SplitRegistrationID] ASC,
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SplitRegistrations]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SplitRegistrations](
	[SplitRegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationID] [int] NOT NULL,
	[ReasonForSplit] [nvarchar](500) NOT NULL,
	[NewAddress] [nvarchar](255) NOT NULL,
	[PreviousAddress] [nvarchar](255) NULL,
	[MoveDate] [date] NULL,
	[HeadOfHousehold] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SplitRegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferRegistrations]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferRegistrations](
	[TransferRegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationID] [int] NOT NULL,
	[NewAddress] [nvarchar](255) NOT NULL,
	[PreviousAddress] [nvarchar](255) NULL,
	[ReasonForTransfer] [nvarchar](500) NOT NULL,
	[MoveDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferRegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAvatars]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAvatars](
	[AvatarID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[AvatarPath] [varchar](255) NOT NULL,
	[UploadDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AvatarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/03/2025 8:06:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[CCCD] [varchar](12) NOT NULL,
	[remember_me_token] [varchar](255) NULL,
	[HouseholdID] [int] NULL,
	[Gender] [nvarchar](10) NULL,
	[PhoneNumber] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([AreaID], [ProvinceName], [DistrictName], [WardName]) VALUES (9, N'Huế', N'Hương Thủy', N'Thủy Dương')
INSERT [dbo].[Areas] ([AreaID], [ProvinceName], [DistrictName], [WardName]) VALUES (10, N'Thành phố Hà Nội', N'Huyện Đông Anh', N'Xã Dục Tú')
INSERT [dbo].[Areas] ([AreaID], [ProvinceName], [DistrictName], [WardName]) VALUES (11, N'Tỉnh Điện Biên', N'Huyện Điện Biên', N'Xã Thanh Yên')
SET IDENTITY_INSERT [dbo].[Areas] OFF
GO
SET IDENTITY_INSERT [dbo].[HouseholdMembers] ON 

INSERT [dbo].[HouseholdMembers] ([MemberID], [HouseholdID], [FullName], [Relationship], [DateOfBirth], [Gender], [PhoneNumber], [Email], [CCCD], [CreatedDate]) VALUES (11, 23, N'Jenette Nunez', N'Child', CAST(N'1978-05-08T00:00:00.000' AS DateTime), N'Female', N'0570618999', N'nyzovyyco@mailinator.com', N'003456789312', CAST(N'2025-03-19T05:54:40.613' AS DateTime))
INSERT [dbo].[HouseholdMembers] ([MemberID], [HouseholdID], [FullName], [Relationship], [DateOfBirth], [Gender], [PhoneNumber], [Email], [CCCD], [CreatedDate]) VALUES (12, 23, N'George Pitts', N'Parent', CAST(N'1982-06-06T00:00:00.000' AS DateTime), N'Male', N'0706090099', N'jynezo@mailinator.com', N'077203000470', CAST(N'2025-03-19T05:56:13.307' AS DateTime))
INSERT [dbo].[HouseholdMembers] ([MemberID], [HouseholdID], [FullName], [Relationship], [DateOfBirth], [Gender], [PhoneNumber], [Email], [CCCD], [CreatedDate]) VALUES (13, 23, N'Ruby Hunt', N'Child', CAST(N'2021-09-27T00:00:00.000' AS DateTime), N'Female', N'0015486377', N'mygitin@mailinator.com', N'003456789314', CAST(N'2025-03-19T10:20:40.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[HouseholdMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[Households] ON 

INSERT [dbo].[Households] ([HouseholdID], [HeadOfHouseholdID], [Address], [CreatedDate], [AreaID]) VALUES (23, 52, N'777, Xã Kháng Chiến, Huyện Tràng Định, Tỉnh Lạng Sơn', CAST(N'2025-03-19T05:23:12.283' AS DateTime), 19)
INSERT [dbo].[Households] ([HouseholdID], [HeadOfHouseholdID], [Address], [CreatedDate], [AreaID]) VALUES (24, 53, N'837, Xã Vĩnh Hải, Thị xã Vĩnh Châu, Tỉnh Sóc Trăng', CAST(N'2025-03-19T13:31:30.643' AS DateTime), 20)
INSERT [dbo].[Households] ([HouseholdID], [HeadOfHouseholdID], [Address], [CreatedDate], [AreaID]) VALUES (25, 54, N'17, Phường Tân Đông Hiệp, Thành phố Dĩ An, Tỉnh Bình Dương', CAST(N'2025-03-19T13:35:31.593' AS DateTime), 21)
SET IDENTITY_INSERT [dbo].[Households] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrationStatuses] ON 

INSERT [dbo].[RegistrationStatuses] ([StatusID], [StatusName], [Description]) VALUES (1, N'Pending', N'Awaiting approval')
INSERT [dbo].[RegistrationStatuses] ([StatusID], [StatusName], [Description]) VALUES (2, N'Approved', N'Registration approved')
INSERT [dbo].[RegistrationStatuses] ([StatusID], [StatusName], [Description]) VALUES (3, N'Rejected', N'Registration rejected')
SET IDENTITY_INSERT [dbo].[RegistrationStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrationTypes] ON 

INSERT [dbo].[RegistrationTypes] ([RegistrationTypeID], [TypeName], [Description]) VALUES (1, N'Transfer Household Registration', N'Moving household registration to a new location')
INSERT [dbo].[RegistrationTypes] ([RegistrationTypeID], [TypeName], [Description]) VALUES (2, N'Split Household Registration', N'Splitting household registration for independent residency')
INSERT [dbo].[RegistrationTypes] ([RegistrationTypeID], [TypeName], [Description]) VALUES (3, N'Register Into Household', N'Adding a new member to an existing household registration')
SET IDENTITY_INSERT [dbo].[RegistrationTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Citizen', N'Citizen registering household')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'AreaLeader', N'Area leader managing residents')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Police', N'Police officer overseeing area')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAvatars] ON 

INSERT [dbo].[UserAvatars] ([AvatarID], [UserID], [AvatarPath], [UploadDate], [IsActive]) VALUES (30, 54, N'https://th.bing.com/th/id/OIP.SikfvBc5jo-EiiOiUuQKzAHaD4?rs=1&pid=ImgDetMain', CAST(N'2025-03-19T13:39:59.153' AS DateTime), 1)
INSERT [dbo].[UserAvatars] ([AvatarID], [UserID], [AvatarPath], [UploadDate], [IsActive]) VALUES (31, 52, N'https://th.bing.com/th/id/OIP.SikfvBc5jo-EiiOiUuQKzAHaD4?rs=1&pid=ImgDetMain', CAST(N'2025-03-19T13:41:54.540' AS DateTime), 1)
INSERT [dbo].[UserAvatars] ([AvatarID], [UserID], [AvatarPath], [UploadDate], [IsActive]) VALUES (32, 63, N'https://th.bing.com/th/id/OIP.tcD3MszVeLsFFvbL4keBmAHaEo?rs=1&pid=ImgDetMain', CAST(N'2025-03-20T14:52:36.643' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserAvatars] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [RoleID], [Address], [CCCD], [remember_me_token], [HouseholdID], [Gender], [PhoneNumber]) VALUES (52, N'Stephen Khoa', N'fuvitel@mailinator.com', N'$2a$10$AHwn0GnPAZXca0s246hoRe.TQ8pVIoCAsHt9SntGlVXEtNgoTJ8jC', 1, N'777, Xã Kháng Chiến, Huyện Tràng Định, Tỉnh Lạng Sơn', N'003456789311', NULL, 23, N'Female', N'0169996105')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [RoleID], [Address], [CCCD], [remember_me_token], [HouseholdID], [Gender], [PhoneNumber]) VALUES (53, N'Bevis Stuart', N'fesozu@mailinator.com', N'$2a$10$KoIqY.ifx5sgAqNAtO6zFOcu6LQygMAa3zXP0jUiXrwbI0sby8dJK', 4, N'837, Xã Vĩnh Hải, Thị xã Vĩnh Châu, Tỉnh Sóc Trăng', N'003456789333', NULL, 24, N'Male', N'0577586222')
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [RoleID], [Address], [CCCD], [remember_me_token], [HouseholdID], [Gender], [PhoneNumber]) VALUES (54, N'Rana Gray', N'rigerisijy@mailinator.com', N'$2a$10$9jlu6EKxnOBUmTFHE7zcnujnJU9K836nE.Yl0OUjIV6c622DqeUqm', 3, N'17, Phường Tân Đông Hiệp, Thành phố Dĩ An, Tỉnh Bình Dương', N'003456789319', NULL, 25, N'Male', N'0521284655')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Areas_DistrictCode]    Script Date: 23/03/2025 8:06:29 CH ******/
CREATE NONCLUSTERED INDEX [IX_Areas_DistrictCode] ON [dbo].[Areas]
(
	[DistrictName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Areas_ProvinceCode]    Script Date: 23/03/2025 8:06:29 CH ******/
CREATE NONCLUSTERED INDEX [IX_Areas_ProvinceCode] ON [dbo].[Areas]
(
	[ProvinceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Areas_WardCode]    Script Date: 23/03/2025 8:06:29 CH ******/
CREATE NONCLUSTERED INDEX [IX_Areas_WardCode] ON [dbo].[Areas]
(
	[WardName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Households_AreaID]    Script Date: 23/03/2025 8:06:29 CH ******/
CREATE NONCLUSTERED INDEX [IX_Households_AreaID] ON [dbo].[Households]
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Registra__05E7698A157BBE6D]    Script Date: 23/03/2025 8:06:29 CH ******/
ALTER TABLE [dbo].[RegistrationStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Registra__D4E7DFA86DD46B2B]    Script Date: 23/03/2025 8:06:29 CH ******/
ALTER TABLE [dbo].[RegistrationTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160081FFBA7]    Script Date: 23/03/2025 8:06:29 CH ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A955A0AA2F4ADB97]    Script Date: 23/03/2025 8:06:29 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053474F3FC51]    Script Date: 23/03/2025 8:06:29 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AddMemberRegistrations] ADD  DEFAULT ((0)) FOR [HeadOfHouseholdConsent]
GO
ALTER TABLE [dbo].[HouseholdMembers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Households] ADD  CONSTRAINT [DF_Households_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RegistrationDocuments] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[Registrations] ADD  DEFAULT ((1)) FOR [RegistrationStatusID]
GO
ALTER TABLE [dbo].[RegistrationVerifications] ADD  DEFAULT ((1)) FOR [VerificationStatusID]
GO
ALTER TABLE [dbo].[UserAvatars] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[UserAvatars] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AddMemberRegistrations]  WITH CHECK ADD FOREIGN KEY([RegistrationID])
REFERENCES [dbo].[Registrations] ([RegistrationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HouseholdMembers]  WITH CHECK ADD  CONSTRAINT [HouseholdMembers_Households__fk_2] FOREIGN KEY([HouseholdID])
REFERENCES [dbo].[Households] ([HouseholdID])
GO
ALTER TABLE [dbo].[HouseholdMembers] CHECK CONSTRAINT [HouseholdMembers_Households__fk_2]
GO
ALTER TABLE [dbo].[Households]  WITH CHECK ADD  CONSTRAINT [Households_Areas__fk] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Areas] ([AreaID])
GO
ALTER TABLE [dbo].[Households] CHECK CONSTRAINT [Households_Areas__fk]
GO
ALTER TABLE [dbo].[Households]  WITH CHECK ADD  CONSTRAINT [Households_Users__fk] FOREIGN KEY([HeadOfHouseholdID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Households] CHECK CONSTRAINT [Households_Users__fk]
GO
ALTER TABLE [dbo].[RegistrationDocuments]  WITH CHECK ADD FOREIGN KEY([RegistrationID])
REFERENCES [dbo].[Registrations] ([RegistrationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD FOREIGN KEY([RegistrationTypeID])
REFERENCES [dbo].[RegistrationTypes] ([RegistrationTypeID])
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD  CONSTRAINT [FK_Registrat_House_4A8B1AF0] FOREIGN KEY([HouseholdID])
REFERENCES [dbo].[Households] ([HouseholdID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [FK_Registrat_House_4A8B1AF0]
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD  CONSTRAINT [Registrations_Users__fk] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [Registrations_Users__fk]
GO
ALTER TABLE [dbo].[RegistrationVerifications]  WITH CHECK ADD FOREIGN KEY([RegistrationID])
REFERENCES [dbo].[Registrations] ([RegistrationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RegistrationVerifications]  WITH CHECK ADD FOREIGN KEY([VerificationStatusID])
REFERENCES [dbo].[RegistrationStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[RegistrationVerifications]  WITH CHECK ADD  CONSTRAINT [RegistrationVerifications_Users__fk] FOREIGN KEY([VerificationUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RegistrationVerifications] CHECK CONSTRAINT [RegistrationVerifications_Users__fk]
GO
ALTER TABLE [dbo].[SplitMembers]  WITH CHECK ADD  CONSTRAINT [SplitMembers_HouseholdMembers__fk] FOREIGN KEY([MemberID])
REFERENCES [dbo].[HouseholdMembers] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SplitMembers] CHECK CONSTRAINT [SplitMembers_HouseholdMembers__fk]
GO
ALTER TABLE [dbo].[SplitMembers]  WITH CHECK ADD  CONSTRAINT [SplitMembers_SplitRegistrations__fk] FOREIGN KEY([SplitRegistrationID])
REFERENCES [dbo].[SplitRegistrations] ([SplitRegistrationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SplitMembers] CHECK CONSTRAINT [SplitMembers_SplitRegistrations__fk]
GO
ALTER TABLE [dbo].[SplitRegistrations]  WITH CHECK ADD  CONSTRAINT [SplitRegistrations_HouseholdMembers__fk] FOREIGN KEY([HeadOfHousehold])
REFERENCES [dbo].[HouseholdMembers] ([MemberID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SplitRegistrations] CHECK CONSTRAINT [SplitRegistrations_HouseholdMembers__fk]
GO
ALTER TABLE [dbo].[SplitRegistrations]  WITH CHECK ADD  CONSTRAINT [SplitRegistrations_Registrations__fk] FOREIGN KEY([RegistrationID])
REFERENCES [dbo].[Registrations] ([RegistrationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SplitRegistrations] CHECK CONSTRAINT [SplitRegistrations_Registrations__fk]
GO
ALTER TABLE [dbo].[TransferRegistrations]  WITH CHECK ADD FOREIGN KEY([RegistrationID])
REFERENCES [dbo].[Registrations] ([RegistrationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAvatars]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Gender] CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Gender]
GO
/****** Object:  Trigger [dbo].[sync_address] */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[sync_address]
ON [dbo].[Households]
AFTER UPDATE
AS
BEGIN
    UPDATE Users
    SET Users.Address = inserted.Address
    FROM Users
    INNER JOIN inserted ON Users.HouseholdID = inserted.HeadOfHouseholdID;
END;
GO
ALTER TABLE [dbo].[Households] ENABLE TRIGGER [sync_address]
GO
/****** Object:  Trigger [dbo].[sync_user_address]   ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[sync_user_address]
ON [dbo].[Households]
AFTER UPDATE
AS
BEGIN
    -- Kiểm tra xem cột Address có được cập nhật hay không
    IF UPDATE(Address)
    BEGIN
        -- Cập nhật Address trong bảng Users dựa trên HouseholdID
        UPDATE u
        SET u.Address = i.Address
        FROM [dbo].[Users] u
        INNER JOIN inserted i ON u.HouseholdID = i.HouseholdID
        INNER JOIN deleted d ON i.HouseholdID = d.HouseholdID
        WHERE i.Address != d.Address; -- Chỉ cập nhật nếu Address thực sự thay đổi
    END
END;

GO
ALTER TABLE [dbo].[Households] ENABLE TRIGGER [sync_user_address]
GO
/****** Object:  Trigger [dbo].[trg_DeleteRegistrationCascade] */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DeleteRegistrationCascade]
ON [dbo].[Registrations]
AFTER DELETE
AS
BEGIN
    -- Delete related records in TransferRegistrations
    DELETE FROM TransferRegistrations 
    WHERE RegistrationID IN (SELECT RegistrationID FROM deleted);
    
    -- Delete related records in SplitRegistrationMembers
    DELETE FROM SplitRegistrations
    WHERE RegistrationID IN (SELECT RegistrationID FROM deleted);
    
    -- Delete related records in RegistrationDocuments
    DELETE FROM RegistrationDocuments 
    WHERE RegistrationID IN (SELECT RegistrationID FROM deleted);
END;

GO
ALTER TABLE [dbo].[Registrations] ENABLE TRIGGER [trg_DeleteRegistrationCascade]
GO
/****** Object:  Trigger [dbo].[trg_UpdateRegistrationStatus]    Script Date: 23/03/2025 8:06:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateRegistrationStatus]
    ON [dbo].[RegistrationVerifications]
    AFTER INSERT, UPDATE
    AS
BEGIN
    SET NOCOUNT ON;

    -- Get the RegistrationIDs affected by the insert/update
    WITH AffectedRegistrations AS (
        SELECT DISTINCT RegistrationID
        FROM inserted
    )
    -- Update RegistrationStatusID based on verification states
    UPDATE r
    SET RegistrationStatusID =
            CASE
                -- Check if there are exactly 2 verifications from AreaLeader (2) and Police (3)
                WHEN (SELECT COUNT(DISTINCT v.VerificationUserID)
                      FROM dbo.RegistrationVerifications v
                               JOIN dbo.Users u ON v.VerificationUserID = u.UserID
                      WHERE v.RegistrationID = r.RegistrationID
                        AND u.RoleID IN (2, 3)) = 2 THEN
                    CASE
                        -- If any verification is Rejected (StatusID = 3), set to Rejected (3)
                        WHEN EXISTS (
                            SELECT 1
                            FROM dbo.RegistrationVerifications v
                                     JOIN dbo.Users u ON v.VerificationUserID = u.UserID
                            WHERE v.RegistrationID = r.RegistrationID
                              AND u.RoleID IN (2, 3)
                              AND v.VerificationStatusID = 3
                        ) THEN 3
                        -- If both verifications are Approved (StatusID = 2), set to Approved (2)
                        WHEN (SELECT COUNT(*)
                              FROM dbo.RegistrationVerifications v
                                       JOIN dbo.Users u ON v.VerificationUserID = u.UserID
                              WHERE v.RegistrationID = r.RegistrationID
                                AND u.RoleID IN (2, 3)
                                AND v.VerificationStatusID = 2) = 2 THEN 2
                        -- Otherwise, stay Pending (1)
                        ELSE 1
                        END
                -- If fewer than 2 verifications from AreaLeader and Police, stay Pending (1)
                ELSE 1
                END
    FROM dbo.Registrations r
    WHERE r.RegistrationID IN (SELECT RegistrationID FROM AffectedRegistrations);
END;
GO
ALTER TABLE [dbo].[RegistrationVerifications] ENABLE TRIGGER [trg_UpdateRegistrationStatus]
GO
/****** Object:  Trigger [dbo].[trg_ValidateVerifierRole]    Script Date: 23/03/2025 8:06:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ValidateVerifierRole]
    ON [dbo].[RegistrationVerifications]
    AFTER INSERT, UPDATE
    AS
BEGIN
    SET NOCOUNT ON;

    -- Check if any VerificationUserID corresponds to a user with RoleID not in (2, 3)
    IF EXISTS (
        SELECT 1
        FROM inserted i
                 JOIN dbo.Users u ON i.VerificationUserID = u.UserID
        WHERE u.RoleID NOT IN (2, 3)
    )
        BEGIN
            RAISERROR ('Only AreaLeader (RoleID = 2) and Police (RoleID = 3) can verify registrations.', 16, 1);
            ROLLBACK TRANSACTION;
        END
END;
GO
ALTER TABLE [dbo].[RegistrationVerifications] ENABLE TRIGGER [trg_ValidateVerifierRole]
GO
/****** Object:  Trigger [dbo].[trg_DeleteUserRegistrations]    Script Date: 23/03/2025 8:06:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DeleteUserRegistrations]
    ON [dbo].[Users]
    AFTER DELETE
    AS
BEGIN
    -- Xóa các bản ghi trong Registrations có UserID trùng với UserID vừa bị xóa
    DELETE FROM dbo.Registrations
    WHERE UserID IN (SELECT UserID FROM deleted);
END;
GO
ALTER TABLE [dbo].[Users] ENABLE TRIGGER [trg_DeleteUserRegistrations]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User gender (Male, Female, Other)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User phone number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'PhoneNumber'
GO
USE [master]
GO
